<!doctype html>
<title>Water Tracker</title>
<h1>Log Activity</h1>
<form action="{{url_for('main.logactivity')}}" method=post>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div>
    <label for="userid">User ID</label>
    <input type="text" value="" id="userid" name="userid">
    </div>
    <div>
    <label for="logday">Day</label>
    <input type="date" name="logday" id="logday">
    </div>
    <div>
    <label for="steps">Steps</label>
    <input type="number" value="" id="steps" name="steps">
    </div>
    <div>
    <label for="water">Water</label>
    <input type="number" value="" id="water" name="water">
    </div>
    <div>
    <label for="sleeptime">Sleep time</label>
    <input type="number" value="" id="sleeptime" name="sleeptime">
    </div>
    <div>
    <input type="submit" value="Submit">
    </div>
</form>